* {
	box-sizing: border-box;
}
body {
	background:rgb(36, 32, 32);
	color: white;
}
header {
	background-color: rgb(240, 65, 118);
}
#result {
	width: 100%;
	height: 200vh;
	border: 0;
	padding: 0;
	outline: none;
	background-color: rgb(36, 32, 32);
	color: white;
}

#copy {
	visibility: hidden;
}

input {
	margin: 3px;	
}

input:focus {
	margin: 3px;
	outline: none;	
}

button {
	background-color: rgb(240, 65, 118);
	color: white;
	border: none;
	border-radius: 20em;
	font-size: 3em;
	padding: 10px;
	margin-left: 10px;
}

button:hover {
	background-color: rgb(255, 0, 76);
}

button:focus {
	outline: none;
}