:root {
	--background: #313131;
	--text: #F5E6C8;
	--sub-color: #F66E0D;
	--hover-color: #E72D2D;
}

* {
	box-sizing: border-box;
	font-family: monospace;
	scroll-behavior: smooth;
}
body {
	background: var(--background);
	color: white;
}

h1 {
	color: var(--sub-color);
	text-align: center;
	font-size: 3em;
}

#result {
	width: 100%;
	height: 20vh;
	border: 0;
	padding: 0;
	outline: none;
	background-color: var(--background);
	color: var(--text);
}

#copy, #reset {
	visibility: hidden;
}

input, select {
	margin: 3px;
	border-radius: 5px;
	border-color: var(--sub-color);
	border-width: 3px;
	width: auto;
	outline: none;
}

select:focus {
	outline: none;
}

#min, #max {
	max-width: 70px;
}

#buttons {
	text-align: center;
	clear: both;
}

button {
	background-color: var(--sub-color);
	color: var(--text);
	border: none;
	border-radius: 20em;
	font-size: 3em;
	padding: 10px;
	margin: auto;
}

button:hover {
	background-color: var(--hover-color);
}

button:focus {
	outline: none;
}

form {
	text-align: center;
}

#status {
	text-align: center;
}

#result {
	text-align: center;
}

.float {
    float: left;
    overflow-wrap: break-word;
}

#info {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 1em;
	border-radius: 20em;
	padding: 5px;
}

#left {
	width: 33%;
	text-align:left;
	display: none;
}

#right {
	width: 33%;
	text-align:left;
	display: none;
}

#form {
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
}


#tipslink {
	color: var(--sub-color);
}

a:not(#tipslink) {
	background-color: var(--sub-color);
	color: var(--text);
	border: none;
	border-radius: 20em;
	font-size: 3em;
	padding: 10px;
	margin: auto;
	text-decoration: none;
	cursor: default;
	display: inline-block;
	width: 150px;
}

a:not(#tipslink):hover {
	background-color: var(--hover-color);
}

#tipslink:hover {
	color: var(--hover-color);
}


.or {
	color: var(--sub-color);
}

@media screen and (min-width: 900px) {
	#left {
		padding-left: 10%;
		text-align: left;
	}
	#right {
		padding-right: 10%;
		text-align: left;
	}
}

@media screen and (max-width: 600px) {
	.text {
		width: 70px;
	}
}

/* Customize the label (the container) */
.container {
    position: relative;
    padding-left: 26px;
    margin-bottom: 12px;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #F5E6C8;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover .checkmark {
    background-color: #f3d496;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: var(--sub-color);
  }

  .container input:checked ~ .checkmark:hover {
    background-color: var(--hover-color);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #F5E6C8;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  ::-webkit-scrollbar {
	  width: 10px;
  }
  ::-webkit-scrollbar-track {
	background: var(--background);
  }
  ::-webkit-scrollbar-thumb {
	background: var(--sub-color);
  }
  ::-webkit-scrollbar-thumb:hover {
	background: var(--hover-color);
  }